---
apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
stringData:
  DB_HOST: database-1.ce7megyw4sr1.us-east-1.rds.amazonaws.com
  DB_USER: YWRtaW4=
  DB_PASSWORD: V2VhdGhlcl9hcHAyMDI2

