---
apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
stringData:
  DB_HOST: dev-eks-cluster-db.ce7megyw4sr1.us-east-1.rds.amazonaws.com
  DB_USER: appuser
  DB_PASSWORD: bz8ZDw0hL42d

